name: GSI Build

on: [push]

env:
  ROM: Generic
  GENERIC_TYPE: 1
  ROM_GENERIC: PixysOS
  ROM_LINK: https://get.station307.com/7MER17pRsEc/Express-0.1-20200830-UNOFFICIAL-hero2lte.zip
  DLAONLYSF: https://sourceforge.net/projects/amy-gsi/files/gsi/Generic/PixysOS/PixysOS-v3.1.2-Aonly-10-20200807-ErfanGSI-YuMiGSI.zip/download
  DLABSF: https://sourceforge.net/projects/amygsi/files/gsi/Generic/PixysOS/PixysOS-v3.1.2-AB-10-20200807-ErfanGSI-YuMiGSI.zip/download
  SFDIRA: cd /home/pfs/project/gsi-workshop/Generic
  SFDIRAB: cd /home/pfs/project/gsi-workshop/Generic
  MIR: gof
  TZ: America/Sao_Paulo
  READ: Initial SourceForge release
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkout
         uses: actions/checkout@master

       - name: Set up python
         uses: actions/setup-python@v2
         with:
           python-version: '3.8.2'

       - name: Initializing telegram bot
         env:
              TOKEN: ${{ secrets.TOKEN }}

         run: |
              sudo install telegram /usr/bin
              chmod +x $ROM/initial.sh
              . $ROM/initial.sh
       
       - name: Clone ErfanGSI Source Code
         run: git clone --recurse-submodules https://github.com/amyGSI/ErfanGSIs
       
       - name: Setting up ErfanGSI requirements
         run: |
              sudo chmod -R 777 ErfanGSIs
              cd ErfanGSIs
              sudo bash setup.sh
       
       - name: Execute Shell Script
         env:
              TOKEN: ${{ secrets.TOKEN }}
              
         run: |
               chmod +x $ROM/build.sh
               . $ROM/build.sh
               
       - name: Copy and rename A-Only build info
         run: cp ErfanGSIs/output/*Aonly*.txt Aonly.txt
         
       - name: Upload to SF
         run: |
              cd ErfanGSIs/output
              expect -c "
              spawn sftp XenonTheInertG@outlook.com
              expect \"yes/no\"
              send \"yes\r\"
              expect \"Password\"
              send \"${{ secrets.PASSWORD }}\r\"
              expect \"sftp> \"
              send \"$SFDIRA\r\"
              set timeout -1
              send \"put *Aonly*.zip\r\"
              expect \"Uploading\"
              expect \"100%\"
              expect \"sftp>\"
              interact"
              expect -c "
              spawn sftp XenonTheInertG@gmail.com
              expect \"Password\"
              send \"${{ secrets.PASSWORD }}\r\"
              expect \"sftp> \"
              send \"$SFDIRAB\r\"
              set timeout -1
              send \"put *AB*.zip\r\"
              expect \"Uploading\"
              expect \"100%\"
              expect \"sftp>\"
              send \"bye\r\"
              interact"

       - name: Send build info to Telegram
         env:
              CHAT_ID: ${{ secrets.CHAT_ID }}
              TOKEN: ${{ secrets.TOKEN }}
              API_ID: ${{ secrets.API_ID }}
              API_HASH: ${{ secrets.API_HASH }}
         
         run: |
              chmod +x uploadSelect.sh
              ./uploadSelect.sh
              
